@import '../node_modules/framework7/css/framework7.min.css';
/*@import '../node_modules/framework7-icons/css/framework7-icons.css';*/
@import '../node_modules/material-icons/iconfont/material-icons.css';

.label {
  font-size: 90%;
}

textarea.text-edit {
  /* height: auto !important; */
  min-height: 55px !important;
  resize: vertical !important;
}

.my-searchbar-not-found {
  display: none;
}