@import '../node_modules/framework7/css/framework7.min.css';
/*@import '../node_modules/framework7-icons/css/framework7-icons.css';*/
@import '../node_modules/material-icons/iconfont/material-icons.css';

.label {
  font-size: 90%;
}

textarea.text-edit {
  /* height: auto !important; */
  min-height: 55px !important;
  resize: vertical !important;
}

.my-searchbar-not-found {
  display: none;
}

.app-avatar {
  width: 55px;
  height: 62px;
}

.app-version {
  font-size: 60%;
  text-align: left;
  padding-top: 0;
  padding-left: 5px;
}

.virtual-list {
  margin-top: 2px !important;
}

.block-options {
  margin-bottom: 0px !important;
}

.panel {
  width: 360px !important;
}